<p style="color: green"><%= notice %></p>

<h1>Votes</h1>

<div id="votes">
  <% @votes.each do |vote| %>
    <%= render vote %>
    <p>
      <%= link_to "Show this vote", vote %>
    </p>
  <% end %>
</div>

<%= link_to "New vote", new_vote_path %>
<div>
  <p><%= link_to "See Brackets", brackets_path %></p>
  <p><%= link_to "See Rounds", rounds_path %></p>
  <p><%= link_to "See Matchups", matchups_path %></p>
  <p><%= link_to "See Choices", choices_path %></p>
  <p><%= link_to "See Votes", votes_path %></p>
</div>
